.MuiInputBase-input {
    font-size: 12px !important;
    padding-top: 0 !important;
}

.MuiInputLabel-formControl {
    font-size: 15px !important;
}

.MuiFormControl-marginNormal {
    margin-top: 5px !important;
    margin-left: 35px !important;
}

.MuiSvgIcon-root {
    padding-bottom: 6px !important;
}