* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #f1f1f1;
}

.MuiFormControl-root .makeStyles-formControl-9 {
  margin-left: 15px !important;
  min-width: 180px !important;
}


@media (max-width: 768px) {
  .MuiButton-sizeSmall {
    display: none !important;
  }

  .nav_title div {
    font-size: 14px !important;
  }
}

@media (max-width: 552px) {
  .MuiFormControl-marginNormal {
    display: none !important;
  }
}